<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{it.site.locale}}">

<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ it.site.title }}</title>

    <link rel="stylesheet" href="{{it.baseURL}}/static/css/style.css" />

    <link rel="canonical" href="{{it.url}}" />
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
