{% macro clickAndCollect(it) %}
    <h2>Click & Collect</h2>
    {% set click_and_collect = it.click_and_collect | default(null) %}
    {% if click_and_collect is not null %}
        {% set alleTage = ["Mo","Di","Mi","Do","Fr","Sa","So"] %}
        {% set tage = click_and_collect | allWithKey('Tag') %}
        <ul>
        {% for tag in alleTage %}
            <li>
            {% set entry = tage | keyContains('Tag',tag) | singleOrNull  %}
            {% if entry is not null %}
                {{ tag }}: {{entry.Von | default('-')}} - {{entry.Bis | default('-')}}
            {% endif %}
            </li>
        {% endfor %}
        </ul>

        {% set web = click_and_collect | allWithKey('Url') | singleOrNull %}
        {% if web is not null %}
            <a href="{{ web.Url }}">{{ web.Url }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}